{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{ path('app_login') }}">Login</a><br>
    <a href="{{ path('app_register') }}">Register</a><br>
    <a href="{{ path('app_logout') }}">logout</a><br>


{#    {% for category in categories %}#}
{#        {{ category.name }}#}
{#    {% endfor %}#}
{% endblock %}
