{% extends 'base.html.twig' %}

{% block title %}Hello CategoryViewController!{% endblock %}

{% block body %}


    {% for topic in topics %}
        <a href="/topic/{{ topic.id }}">{{ topic.name }}</a><br>
    {% endfor %}
{% endblock %}
